html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    margin: 0;
}
header {
    padding: 12px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
main {
    max-width: 800px;
    margin: auto;
}
.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;

}
.book-rating {
    font-size: 125%;

    display: grid;
    grid-column-start: 2;
    grid-row: 2;
}
 .book-title {
     font-weight: bold;
     font-size:  150%;

     display: grid;
     grid-column-start: 2 ;
     grid-row-start: 1 ;

 }
     
.book-cover {
    width: 200px;
    height: auto;

    display: grid;
    grid-column-start: 1  ;
    grid-row-start: span 5;

}
.book-authors {
    color: dimgray;

    display: grid;
    grid-column: 2;
    grid-row: 3;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;

    display: grid;
    grid-template-columns: 10fr 10fr;
    column-gap: 3px;
    align-items: center;
    align-content: center;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}
.book-review-form {
    background-color: white;
    padding: 24px;
}
button {
    padding: 12px;
    font-size: 110%;
  }
  
  input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
  }
  
  textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
  }